<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Forecast Service Chat</title>
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <form>
          <div class="form-group">
            <textarea id="messageDisplay" class="form-control" rows="8" disabled></textarea>
          </div>
          <div class="form-group">
            <input id="messageInput" type="text" class="form-control" placeholder="Enter message">
          </div>
          <div class="form-group">
            <button id="messageSubmit" class="btn btn-primary float-left">Submit</button>
            <button id="messageClear" class="btn btn-warning float-right" onclick="clearDisplay(event)">Clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/app/js/chat.js"></script>
</body>
</html>
