**/__pycache__
**/.cache
**/.coverage
**/.coverage.*
**/.env
**/.hypothesis
**/.mypy_cache
**/.pytest_cache
**/.Python
**/.tox
**/*.cover
**/*.freeze.txt
**/*.log
**/*.pyc
**/*.pyd
**/*.pyo
**/coverage.xml
**/dist
**/env
**/nosetests.xml
**/static/admin
**/static/debug_toolbar
**/static/rest_framework